# Data Cleaning

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("glassdoor_ds_data.csv")

In [3]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,0,Software Engineer - Data Science,$60K-$127K (Glassdoor est.),Join ClearEdge and be a part of the team of me...,4.1,ClearEdge\n4.1,"Annapolis Junction, MD",51 to 200 Employees,2002,Company - Private,Computer Hardware & Software,Information Technology,$5 to $10 million (USD)
1,1,Quality Systems Data Science Engineer,$60K-$127K (Glassdoor est.),It is our people behind life’s passions who wi...,3.7,Mercury Marine\n3.7,"Fond du Lac, WI",1001 to 5000 Employees,1939,Company - Public,Consumer Products Manufacturing,Manufacturing,$2 to $5 billion (USD)
2,2,Inside Sales Representative (Headquarters),$60K-$127K (Glassdoor est.),Becoming a Sales Professional at Red Ventures ...,2.5,Red Ventures - Sales\n2.5,"Charlotte, NC",1001 to 5000 Employees,2000,Company - Private,Advertising & Marketing,Business Services,$1 to $2 billion (USD)
3,3,Data Scientist,$60K-$127K (Glassdoor est.),Braxton Technologies is looking for a data sci...,1.6,Braxton Science & Technology Group\n1.6,"Colorado Springs, CO",51 to 200 Employees,-1,Company - Private,-1,-1,Less than $1 million (USD)
4,4,Data Science Engineer Full Stack - AI,$60K-$127K (Glassdoor est.),Data Science Engineer Full Stack - AI\n\nOverv...,2.8,BryterCX\n2.8,United States,51 to 200 Employees,2000,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1034 entries, 0 to 1033
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1034 non-null   int64
 1   Job Title          1034 non-null   object
 2   Salary Estimate    1034 non-null   object
 3   Job Description    1034 non-null   object
 4   Rating             1034 non-null   float64
 5   Company Name       1034 non-null   object
 6   Location           1034 non-null   object
 7   Size               1034 non-null   object
 8   Founded            1034 non-null   int64
 9   Type of ownership  1034 non-null   object
 10  Industry           1034 non-null   object
 11  Sector             1034 non-null   object
 12  Revenue            1034 non-null   object
dtypes: float64(1), int64(2), object(10)
memory usage: 105.1+ KB

### Salary Data cleaning

In [7]:
df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df['employer_provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary:' in x.lower() else 0)

In [8]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,hourly,employer_provided
0,0,Software Engineer - Data Science,$60K-$127K (Glassdoor est.),Join ClearEdge and be a part of the team of me...,4.1,ClearEdge\n4.1,"Annapolis Junction, MD",51 to 200 Employees,2002,Company - Private,Computer Hardware & Software,Information Technology,$5 to $10 million (USD),0,0
1,1,Quality Systems Data Science Engineer,$60K-$127K (Glassdoor est.),It is our people behind life’s passions who wi...,3.7,Mercury Marine\n3.7,"Fond du Lac, WI",1001 to 5000 Employees,1939,Company - Public,Consumer Products Manufacturing,Manufacturing,$2 to $5 billion (USD),0,0
2,2,Inside Sales Representative (Headquarters),$60K-$127K (Glassdoor est.),Becoming a Sales Professional at Red Ventures ...,2.5,Red Ventures - Sales\n2.5,"Charlotte, NC",1001 to 5000 Employees,2000,Company - Private,Advertising & Marketing,Business Services,$1 to $2 billion (USD),0,0
3,3,Data Scientist,$60K-$127K (Glassdoor est.),Braxton Technologies is looking for a data sci...,1.6,Braxton Science & Technology Group\n1.6,"Colorado Springs, CO",51 to 200 Employees,-1,Company - Private,-1,-1,Less than $1 million (USD),0,0
4,4,Data Science Engineer Full Stack - AI,$60K-$127K (Glassdoor est.),Data Science Engineer Full Stack - AI\n\nOverv...,2.8,BryterCX\n2.8,United States,51 to 200 Employees,2000,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),0,0

In [9]:
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0])
minus_Kd = salary.apply(lambda x: x.replace('K','').replace('$',''))

In [10]:
min_hr = minus_Kd.apply(lambda x: x.lower().replace('per hour','').replace('employer provided salary:',''))

In [11]:
min_hr.head()

0    60-127
1    60-127
2    60-127
3    60-127
4    60-127
Name: Salary Estimate, dtype: object

In [12]:
df['min_salary'] = min_hr.apply(lambda x: int(x.split('-')[0]))
df['max_salary'] = min_hr.apply(lambda x: int(x.split('-')[1]))
df['avg_salary'] = (df.min_salary+df.max_salary)/2

### Company name text only

In [13]:
df['company_txt'] = df.apply(lambda x: x['Company Name'] if x['Rating'] <0 else x['Company Name'][:-3], axis = 1)

### Company Age

In [15]:
df['age'] = df.Founded.apply(lambda x: x if x <1 else 2020 - x)

In [18]:
df[df['age']>150]

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,hourly,employer_provided,min_salary,max_salary,avg_salary,company_txt,age
103,103,Data Engineer,$83K-$141K (Glassdoor est.),Why We Work at Dun & Bradstreet\n\n\nWe are at...,3.0,Dun & Bradstreet\n3.0,"Waltham, MA",1001 to 5000 Employees,1841,Company - Public,IT Services,Information Technology,$1 to $2 billion (USD),0,0,83,141,112.0,Dun & Bradstreet\n,179
509,509,Data Scientist - Intermediate (Contract),$77K-$124K (Glassdoor est.),Data Scientist\n\n\nBasic Qualifications:\nMas...,4.1,Bayer\n4.1,"Saint Louis, MO",5001 to 10000 Employees,1863,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),0,0,77,124,100.5,Bayer\n,157
549,549,Data Scientist,$99K-$165K (Glassdoor est.),Data Scientist\n\n02-Jul-2020\n\nJob Descripti...,3.3,Aetna\n3.3,"Wellesley, MA",10000+ Employees,1853,Company - Public,Insurance Carriers,Insurance,$10+ billion (USD),0,0,99,165,132.0,Aetna\n,167
636,636,Data Engineer,$115K-$184K (Glassdoor est.),"As a member of our Software Engineering Group,...",3.9,"JPMorgan Chase Bank, N.A.\n3.9","Houston, TX",10000+ Employees,1799,Company - Public,Investment Banking & Asset Management,Finance,$10+ billion (USD),0,0,115,184,149.5,"JPMorgan Chase Bank, N.A.\n",221
686,686,Statistician (Data Scientist) *12 month Roster...,$85K-$137K (Glassdoor est.),The U.S. Department of the Treasury has a dist...,3.6,Internal Revenue Service\n3.6,"Bloomington, MN",10000+ Employees,1862,Government,Federal Agencies,Government,Less than $1 million (USD),0,0,85,137,111.0,Internal Revenue Service\n,158
690,690,Data Scientist,$86K-$138K (Glassdoor est.),Bioinformatics Programmer II\n\n02-Sep-2020\n\...,4.1,UC San Francisco\n4.1,"San Francisco, CA",10000+ Employees,1864,College / University,-1,-1,$25 to $50 million (USD),0,0,86,138,112.0,UC San Francisco\n,156
734,734,"Instructor, Business Analytics/Data Science, E...",$66K-$109K (Glassdoor est.),"Posting Details\n\nJob Title Instructor, Busin...",4.3,University of Nebraska Omaha\n4.3,"Omaha, NE",10000+ Employees,1869,College / University,Colleges & Universities,Education,Less than $1 million (USD),0,0,66,109,87.5,University of Nebraska Omaha\n,151
742,742,"Sr. Director, Actuarial & Analytics",$229K-$350K (Glassdoor est.),Company Summary\n\nTaking care of our customer...,4.1,Travelers\n4.1,"Hartford, CT",10000+ Employees,1853,Company - Public,Insurance Carriers,Insurance,$10+ billion (USD),0,0,229,350,289.5,Travelers\n,167
766,766,"Sr. Director, Actuarial & Analytics",$229K-$350K (Glassdoor est.),Company Summary\n\nTaking care of our customer...,4.1,Travelers\n4.1,"Hartford, CT",10000+ Employees,1853,Company - Public,Insurance Carriers,Insurance,$10+ billion (USD),0,0,229,350,289.5,Travelers\n,167
791,791,"Sr. Director, Actuarial & Analytics",$229K-$350K (Glassdoor est.),Company Summary\n\nTaking care of our customer...,4.1,Travelers\n4.1,"Hartford, CT",10000+ Employees,1853,Company - Public,Insurance Carriers,Insurance,$10+ billion (USD),0,0,229,350,289.5,Travelers\n,167
816,816,"Sr. Director, Actuarial & Analytics",$229K-$350K (Glassdoor est.),Company Summary\n\nTaking care of our customer...,4.1,Travelers\n4.1,"Hartford, CT",10000+ Employees,1853,Company - Public,Insurance Carriers,Insurance,$10+ billion (USD),0,0,229,350,289.5,Travelers\n,167
841,841,"Sr. Director, Actuarial & Analytics",$229K-$350K (Glassdoor est.),Company Summary\n\nTaking care of our customer...,4.1,Travelers\n4.1,"Hartford, CT",10000+ Employees,1853,Company - Public,Insurance Carriers,Insurance,$10+ billion (USD),0,0,229,350,289.5,Travelers\n,167
866,866,"Sr. Director, Actuarial & Analytics",$229K-$350K (Glassdoor est.),Company Summary\n\nTaking care of our customer...,4.1,Travelers\n4.1,"Hartford, CT",10000+ Employees,1853,Company - Public,Insurance Carriers,Insurance,$10+ billion (USD),0,0,229,350,289.5,Travelers\n,167
891,891,"Sr. Director, Actuarial & Analytics",$229K-$350K (Glassdoor est.),Company Summary\n\nTaking care of our customer...,4.1,Travelers\n4.1,"Hartford, CT",10000+ Employees,1853,Company - Public,Insurance Carriers,Insurance,$10+ billion (USD),0,0,229,350,289.5,Travelers\n,167
916,916,"Sr. Director, Actuarial & Analytics",$229K-$350K (Glassdoor est.),Company Summary\n\nTaking care of our customer...,4.1,Travelers\n4.1,"Hartford, CT",10000+ Employees,1853,Company - Public,Insurance Carriers,Insurance,$10+ billion (USD),0,0,229,350,289.5,Travelers\n,167
941,941,"Sr. Director, Actuarial & Analytics",$229K-$350K (Glassdoor est.),Company Summary\n\nTaking care of our customer...,4.1,Travelers\n4.1,"Hartford, CT",10000+ Employees,1853,Company - Public,Insurance Carriers,Insurance,$10+ billion (USD),0,0,229,350,289.5,Travelers\n,167
966,966,"Sr. Director, Actuarial & Analytics",$229K-$350K (Glassdoor est.),Company Summary\n\nTaking care of our customer...,4.1,Travelers\n4.1,"Hartford, CT",10000+ Employees,1853,Company - Public,Insurance Carriers,Insurance,$10+ billion (USD),0,0,229,350,289.5,Travelers\n,167
991,991,"Sr. Director, Actuarial & Analytics",$229K-$350K (Glassdoor est.),Company Summary\n\nTaking care of our customer...,4.1,Travelers\n4.1,"Hartford, CT",10000+ Employees,1853,Company - Public,Insurance Carriers,Insurance,$10+ billion (USD),0,0,229,350,289.5,Travelers\n,167
1016,1016,"Sr. Director, Actuarial & Analytics",$229K-$350K (Glassdoor est.),Company Summary\n\nTaking care of our customer...,4.1,Travelers\n4.1,"Hartford, CT",10000+ Employees,1853,Company - Public,Insurance Carriers,Insurance,$10+ billion (USD),0,0,229,350,289.5,Travelers\n,167

In [26]:
df.drop(columns='Unnamed: 0',inplace=True)

In [28]:
df.drop_duplicates(inplace=True)

In [29]:
df.shape

(760, 19)

### Data Science Tools

In [30]:
#python
df['python_yn'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df.python_yn.value_counts()

1    491
0    269
Name: python_yn, dtype: int64

In [31]:
#r studio 
df['R_yn'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
df.R_yn.value_counts()

0    753
1      7
Name: R_yn, dtype: int64

In [32]:
#spark 
df['spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df.spark.value_counts()

0    589
1    171
Name: spark, dtype: int64

In [33]:
#aws 
df['aws'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
df.aws.value_counts()

0    545
1    215
Name: aws, dtype: int64

In [34]:
#excel
df['excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df.excel.value_counts()

0    399
1    361
Name: excel, dtype: int64

In [35]:
df.to_csv("Cleaned_dataset.csv",encoding="utf-8")

In [36]:
del df,min_hr,salary

In [37]:
#invoke garbage collector to free ram
import gc
gc.collect()

76